<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <title>Ministore</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" th:href="@{/userAssets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/userAssets/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
          rel="stylesheet">
    <!-- script
    ================================================== -->
    <script src="/userAssets/js/modernizr.js"></script>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true"
      tabindex="0">

<div class="search-popup">
    <div class="search-popup-container">

        <form role="search" method="get" class="search-form" action="">
            <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value=""
                   name="s"/>
            <button type="submit" class="search-submit">
                <svg class="search">
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </form>

        <h5 class="cat-list-title">Browse Categories</h5>

        <ul class="cat-list">
            <li class="cat-list-item">
                <a href="#" title="Mobile Phones">Mobile Phones</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Smart Watches">Smart Watches</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Headphones">Headphones</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Accessories">Accessories</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Monitors">Monitors</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Speakers">Speakers</a>
            </li>
            <li class="cat-list-item">
                <a href="#" title="Memory Cards">Memory Cards</a>
            </li>
        </ul>

    </div>
</div>

<header id="header" style="position: unset;" class="site-header header-scrolled text-black bg-light">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <img src="/userAssets/images/main-logo.png" class="logo">
            </a>
            <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
                    aria-label="Toggle navigation">
                <svg class="navbar-icon">
                    <use xlink:href="#navbar-icon"></use>
                </svg>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar"
                 aria-labelledby="bdNavbarOffcanvasLabel">
                <div class="offcanvas-header px-4 pb-0">
                    <a class="navbar-brand" href="/">
                        <img src="/userAssets/images/main-logo.png" class="logo">
                    </a>
                    <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                            aria-label="Close" data-bs-target="#bdNavbar"></button>
                </div>
                <div class="offcanvas-body">
                    <ul id="navbar"
                        class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link me-4 active" href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link me-4" href="/product/index">Products</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link me-4" href="#latest-blog">Blog</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                            <a class="nav-link me-4" href="/admin/index">Admin Dashboard</a>
                        </li>

                        <li class="nav-item" style="margin-right: 24px" sec:authorize="isAuthenticated()">
                            <span class="navbar-text">Xin chào,
                                <span sec:authentication="name" style="marginright: 20px;">
                                </span>
                            </span>
                        </li>

                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post">
                                <button class="btn btn-outline-dark"
                                        type="submit">Logout
                                </button>
                            </form>
                        </li>

                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="btn btn-outline-dark" href="/login">Login</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div style="background-color: #f0f0f0" class="">
    <div layout:fragment="content">
    </div>
</div>


<footer id="footer" class="overflow-hidden mt-4">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="/userAssets/images/main-logo.png" alt="logo">
                            <p>Nisi, purus vitae, ultrices nunc. Sit ac sit suscipit hendrerit. Gravida massa volutpat
                                aenean odio erat nullam fringilla.</p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <svg class="facebook">
                                                <use xlink:href="#facebook"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="instagram">
                                                <use xlink:href="#instagram"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="twitter">
                                                <use xlink:href="#twitter"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="linkedin">
                                                <use xlink:href="#linkedin"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="youtube">
                                                <use xlink:href="#youtube"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Quick Links</h5>
                            <ul class="menu-list list-unstyled text-uppercase">
                                <li class="menu-item pb-2">
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">About</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Shop</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Blogs</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Help & Info Help</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#">Track Your Order</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Returns Policies</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Shipping + Delivery</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Contact Us</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Faqs</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                            <p>Do you have any queries or suggestions? <a href="mailto:">yourinfo@gmail.com</a>
                            </p>
                            <p>If you need support? Just give us a call. <a href="">+55 111 222 333 44</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>

<div id="footer-bottom">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-between">
            <div class="col-md-4 col-sm-6">
                <div class="Shipping d-flex">
                    <p>We ship with:</p>
                    <div class="card-wrap ps-2">
                        <img src="/userAssets/images/dhl.png" alt="visa">
                        <img src="/userAssets/images/shippingcard.png" alt="mastercard">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="payment-method d-flex">
                    <p>Payment options:</p>
                    <div class="card-wrap ps-2">
                        <img src="/userAssets/images/visa.jpg" alt="visa">
                        <img src="/userAssets/images/mastercard.jpg" alt="mastercard">
                        <img src="/userAssets/images/paypal.jpg" alt="paypal">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="copyright">
                    <p>© Copyright 2023 MiniStore. Design by <a href="https://templatesjungle.com/">TemplatesJungle</a>
                        Distribution by <a href="https://themewagon.com">ThemeWagon</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/userAssets/js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/userAssets/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/userAssets/js/plugins.js"></script>
<script type="text/javascript" src="/userAssets/js/script.js"></script>
</body>
</html>
